.worldline-container {
  margin: -24px 0;
  padding: 0;
  background-color: white;
  .worldline-action-bar {
    border-bottom: @conte-border;
    padding: 24px;
    display: flex;
    overflow-x: scroll;
  }
  .list-container{
    overflow-y: auto;
    scroll-behavior: smooth;
    .list-content {
      background: white;
      .list-item {
        border-bottom: @conte-border;
        padding: 12px;
        overflow-x: hidden;
        &:hover {
          background-color: @conte-border-grey;
        }
        .info {
          text-align: left;
          color: @conte-font-grey;
          font-size: 12px;
          padding: 8px 0 0 0;
          .time {
            margin-right: 8px;
          }
        }
        .item-pic {
          width: 100%;
        }
      }
    }
  }
}
